@font-face {
  font-family: "Oswald";
  src: url(../fonts/OswaldRegular.woff2);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.woff);
}
.container {
  margin: 0 auto;
  width: 960px;
}
.bg-header {
  background-image: url(../img/bg.png);
  height: 602px;
  background-position: center;
  border-bottom: 1px solid #c7c3c3;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  margin-top: 98px;
}
header .logo p {
  color: #545b61;
  font-family: Oswald;
  font-size: 36px;
  line-height: 36px;
}
header .logo span {
  margin-left: 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.15);
  color: #ffffff;
}
header .menu .shopping-cart {
  margin-left: 281px;
  margin-bottom: 9px;
  margin-top: 75px;
}
header .menu .shopping-cart p {
  display: inline-block;
  color: #383e44;
  font-family: Oswald;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}
header .menu .shopping-cart a {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: Oswald;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 22px;
}
header .menu .shopping-cart img {
  vertical-align: sub;
}
header .menu a,
header .menu span {
  text-decoration: none;
  color: #007472;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 36px;
}
header .menu span {
  margin-left: 11px;
  margin-right: 11px;
}
header .menu button:last-child {
  width: 84px;
  height: 27px;
  margin-left: 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  border-radius: 10px 9px 9px 10px;
  border: 1px solid #2792c3;
  background-color: #000000;
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
}
header .menu button {
  margin-left: 22px;
  min-width: 84px;
  height: 27px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  border-radius: 9px;
  border: 1px solid #d69d23;
  background-color: #000000;
  background-image: linear-gradient(to top, #e5a61f 0%, #fbb829 100%);
}
.big-menu {
  height: 77px;
  border: 1px solid #007472;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  font-size: 0;
  margin-top: 13px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
}
.big-menu a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  left: 50%;
  margin-left: -6px;
}
.big-menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: Oswald;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  text-transform: uppercase;
  padding: 28px 22px;
  line-height: 77px;
  border-left: 1px solid #009c9a;
  border-right: 1px solid #007472;
  position: relative;
}
.big-menu a:first-child {
  border-left: none;
}
.big-menu a:nth-child(6) {
  border-right: none;
}
.big-menu input {
  width: 180px;
  height: 25px;
  box-shadow: inset 0 1px 0 #007472;
  border-radius: 9px;
  border-width: 0;
  margin-left: 194px;
  padding-left: 42px;
  box-sizing: border-box;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 11px center;
}
.slider {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #d9d2d2;
}
.bg-phone {
  background-image: url(../img/bg-phone.jpg);
  width: 591px;
  height: 354px;
  margin-left: 69px;
}
.bg-phone .gradient {
  background-image: linear-gradient(to right, #c2e8e7, white);
  width: 402px;
  height: 131px;
  margin-left: -69px;
  margin-top: 22px;
}
.bg-phone .gradient h3 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #383e44;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-weight: 100;
  line-height: 36px;
  padding-top: 24px;
  margin-left: 21px;
}
.bg-phone .gradient p {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #50565c;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding-top: 13px;
  margin-left: 21px;
}
.bg-phone .price h4 {
  color: #fbb829;
  font-family: "Helvetica Neue";
  font-size: 48px;
  line-height: 45px;
  margin-top: 7px;
  margin-left: -44px;
}
.bg-phone .price button {
  width: 142px;
  height: 38px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  border: 1px solid #d69d23;
  background-color: #f5f5f5;
  background-image: linear-gradient(to top, #e5a61f 0%, #fbb829 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 18px;
  margin-top: 25px;
  margin-left: -49px;
}
.three-phones {
  display: flex;
  flex-direction: column;
}
.three-phones .positionphone {
  position: absolute;
  margin-left: 16px;
  margin-top: 27px;
}
.three-phones .rightphone-one,
.three-phones .rightphone-two,
.three-phones .rightphone-three {
  width: 300px;
  height: 118px;
  background-color: #e9e7e7;
  border-bottom: 1px solid #d9d2d2;
  border-left: 1px solid #d9d2d2;
  box-sizing: border-box;
  position: relative;
}
.three-phones .rightphone-one .arrow,
.three-phones .rightphone-two .arrow,
.three-phones .rightphone-three .arrow {
  display: none;
}
.three-phones .rightphone-one a,
.three-phones .rightphone-two a,
.three-phones .rightphone-three a {
  position: absolute;
  margin-top: 46px;
  margin-left: 101px;
  text-decoration: none;
  color: #383e44;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.three-phones .rightphone-one p,
.three-phones .rightphone-two p,
.three-phones .rightphone-three p {
  position: absolute;
  margin-top: 68px;
  margin-left: 100px;
  color: #50565c;
  font-family: "Helvetica Neue";
  font-size: 13px;
  font-weight: 300;
}
.three-phones .rightphone-two {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #d9d2d2;
  border-left: 1px solid #dad3d3;
}
.three-phones .rightphone-three {
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #dad3d3;
  border-bottom: none;
}
.three-phones .rightphone-one:hover,
.three-phones .rightphone-two:hover,
.three-phones .rightphone-three:hover {
  width: 300px;
  height: 118px;
  background-color: #ffffff;
}
.three-phones .rightphone-one:hover .arrow,
.three-phones .rightphone-two:hover .arrow,
.three-phones .rightphone-three:hover .arrow {
  display: inline-block;
  border-left: 1px solid white;
  box-sizing: border-box;
  margin-left: -1px;
  margin-top: 43px;
}
.three-phones .rightphone-one:hover .positionphone,
.three-phones .rightphone-two:hover .positionphone,
.three-phones .rightphone-three:hover .positionphone {
  margin-left: 1px;
}
.three-phones .rightphone-one:hover a,
.three-phones .rightphone-two:hover a,
.three-phones .rightphone-three:hover a {
  margin-top: 46px;
  margin-left: 86px;
  display: inline-block;
}
.three-phones .rightphone-one:hover p,
.three-phones .rightphone-two:hover p,
.three-phones .rightphone-three:hover p {
  margin-top: -7px;
  margin-left: 100px;
  color: #009c9a;
}
.bg-catalog {
  background-image: url(../img/bg-white.jpg);
  min-height: 984px;
  padding-top: 30px;
  margin-top: -2px;
}
.catalog {
  display: flex;
}
.catalog .left-menu .bg-categories {
  width: 225px;
  height: 46px;
  border: 1px solid #007472;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  margin-right: 20px;
}
.catalog .left-menu h6 {
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 48px;
  text-align: center;
}
.catalog .left-menu li {
  padding: 16px 0;
  border: 1px solid #d9d2d2;
  background-color: #ffffff;
  width: 225px;
}
.catalog .left-menu a {
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  color: #50565c;
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 300;
  line-height: 16px;
}
.catalog .left-menu .model a::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 15px;
}
.catalog .left-menu .bg-hot {
  width: 225px;
  height: 46px;
  border: 1px solid #007472;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  margin-right: 20px;
  margin-top: 19px;
}
.catalog .left-menu .phone-price p {
  display: inline-block;
  width: 114px;
  vertical-align: top;
  margin-top: 4px;
  text-shadow: 0 1px 0 #ffffff;
  font-family: "Helvetica Neue";
  line-height: 18px;
  color: #383e44;
  font-size: 14px;
}
.catalog .left-menu .phone-price p span:first-child {
  color: #fbb829;
  font-size: 12px;
  font-weight: bold;
}
.catalog .left-menu .phone-price p span {
  font-size: 12px;
  font-weight: 300;
  line-height: 32px;
  margin-right: 8px;
}
.catalog .left-menu .phone-price img {
  width: 64px;
  height: 64px;
}
.catalog .bg-menu {
  width: 715px;
  height: 46px;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  border-bottom: 2px solid #fcb925;
  border-top: 1px solid #007472;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  font-size: 0;
}
.catalog .bg-menu a {
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  line-height: 48px;
  text-decoration: none;
  border-right: 1px solid #007472;
  border-left: 1px solid #009c9a;
}
.catalog .bg-menu a:first-child {
  border-left: none;
}
.catalog .bg-menu a:first-child:hover {
  background-color: #fcb925;
  border-top-left-radius: 9px;
  padding: 14px 20px;
}
.catalog .bg-menu a:hover {
  background-color: #fcb925;
  padding: 14px 20px;
}
.catalog .deal {
  display: flex;
  width: 713px;
  height: 302px;
  border: 1px solid #d9d2d2;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d2d2;
  background-image: url(../img/border.png), linear-gradient(to top, #e9e7e7 0%, #e9e7e7 40%, #ffffff 50%, #f3f3f3 60%, #ffffff 99%, #ffffff 100%);
  background-position: 0 173px, 0 0;
  background-repeat: no-repeat;
}
.catalog .deal div {
  flex-wrap: wrap;
  width: 238px;
  text-align: center;
  margin-top: 37px;
}
.catalog .deal div a {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 14px;
  width: 116px;
  height: 32px;
  border: 1px solid #2792c3;
  background-color: #009c9a;
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 36px;
}
.catalog .deal div a img {
  position: absolute;
  left: 0;
  padding-right: 5px;
  padding-top: 4px;
  border-right: 1px solid #2792c3;
  border-top: 1px solid #63c8ed;
  padding-left: 5px;
}
.catalog .deal div a span {
  position: absolute;
  left: 37px;
  padding-left: 11px;
  padding-right: 12px;
  padding-top: 1px;
  line-height: 29px;
  border-left: 1px solid #63c7ec;
  border-top: 1px solid #63c7ec;
}
.catalog .deal div p {
  text-shadow: 0 1px 0 #ffffff;
  color: #383e44;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}
.catalog .circle {
  width: 60px;
  margin: 0 auto;
  margin-top: -24px;
}
.catalog .circle a {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fcb925;
  border: 1px solid #fefefe;
  opacity: 0.6;
  display: inline-block;
}
.catalog .circle a:hover {
  opacity: 0.81;
}
.catalog .circle a:active {
  opacity: 1;
}
.catalog .featured {
  margin-top: 31px;
}
.catalog .featured .bg-featured {
  position: relative;
  width: 715px;
  height: 45px;
  box-shadow: inset 0 1px 0 #007472;
  border-radius: 9px;
  background-color: #63c7ec;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
}
.catalog .featured .bg-featured h3 {
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 16px;
  margin-left: 18px;
}
.catalog .featured .bg-featured .list {
  position: absolute;
  right: 20px;
  top: 16px;
  display: inline-block;
}
.catalog .featured .bg-featured .list a {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  font-family: Oswald;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
}
.catalog .featured .bg-featured .list a:hover {
  color: #fbb829;
}
.catalog .featured .bg-featured .list a:last-child img {
  transform: rotate(180deg);
}
.catalog .featured .featured-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog .featured .featured-catalog .block-4,
.catalog .featured .featured-catalog .block-5,
.catalog .featured .featured-catalog .block-6,
.catalog .featured .featured-catalog .block-7,
.catalog .featured .featured-catalog .block-8,
.catalog .featured .featured-catalog .block-9 {
  margin-top: 19px;
  width: 225px;
  height: 250px;
  border: 1px solid #d9d2d2;
  background-color: #ffffff;
  background-image: url(../img/border.png), linear-gradient(to top, #e9e7e7 0%, #e9e7e7 30%, #ffffff 40%, #f3f3f3 50%, #ffffff 99%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: 0 170px, 0 0;
  text-align: center;
}
.catalog .featured .featured-catalog .block-4 .dollar,
.catalog .featured .featured-catalog .block-5 .dollar,
.catalog .featured .featured-catalog .block-6 .dollar,
.catalog .featured .featured-catalog .block-7 .dollar,
.catalog .featured .featured-catalog .block-8 .dollar,
.catalog .featured .featured-catalog .block-9 .dollar {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #fbb829;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 20px;
  vertical-align: super;
}
.catalog .featured .featured-catalog .block-4 img,
.catalog .featured .featured-catalog .block-5 img,
.catalog .featured .featured-catalog .block-6 img,
.catalog .featured .featured-catalog .block-7 img,
.catalog .featured .featured-catalog .block-8 img,
.catalog .featured .featured-catalog .block-9 img {
  margin-top: 24px;
}
.catalog .featured .featured-catalog .block-4 a,
.catalog .featured .featured-catalog .block-5 a,
.catalog .featured .featured-catalog .block-6 a,
.catalog .featured .featured-catalog .block-7 a,
.catalog .featured .featured-catalog .block-8 a,
.catalog .featured .featured-catalog .block-9 a {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 14px;
  width: 116px;
  height: 32px;
  border: 1px solid #2792c3;
  background-color: #009c9a;
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 36px;
}
.catalog .featured .featured-catalog .block-4 a img,
.catalog .featured .featured-catalog .block-5 a img,
.catalog .featured .featured-catalog .block-6 a img,
.catalog .featured .featured-catalog .block-7 a img,
.catalog .featured .featured-catalog .block-8 a img,
.catalog .featured .featured-catalog .block-9 a img {
  position: absolute;
  left: 0;
  padding-right: 5px;
  padding-top: 4px;
  border-right: 1px solid #2792c3;
  border-top: 1px solid #63c8ed;
  padding-left: 5px;
  margin-top: 0;
}
.catalog .featured .featured-catalog .block-4 a span,
.catalog .featured .featured-catalog .block-5 a span,
.catalog .featured .featured-catalog .block-6 a span,
.catalog .featured .featured-catalog .block-7 a span,
.catalog .featured .featured-catalog .block-8 a span,
.catalog .featured .featured-catalog .block-9 a span {
  position: absolute;
  left: 37px;
  padding-left: 11px;
  padding-right: 12px;
  padding-top: 1px;
  line-height: 29px;
  border-left: 1px solid #63c7ec;
  border-top: 1px solid #63c7ec;
}
.catalog .featured .featured-catalog .block-4 p,
.catalog .featured .featured-catalog .block-5 p,
.catalog .featured .featured-catalog .block-6 p,
.catalog .featured .featured-catalog .block-7 p,
.catalog .featured .featured-catalog .block-8 p,
.catalog .featured .featured-catalog .block-9 p {
  text-shadow: 0 1px 0 #ffffff;
  color: #383e44;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}
footer {
  background-image: url(../img/bg-footer.jpg);
  min-height: 286px;
  margin-top: -1px;
}
footer .footer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .footer-block h3 {
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  color: #fcd157;
  font-family: Oswald;
  font-size: 16px;
  text-transform: uppercase;
}
footer .footer-block a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 30px;
  margin-top: 16px;
}
footer .footer-block .letter {
  width: 245px;
  margin-top: 43px;
  border-right: 1px solid #009c9a;
}
footer .footer-block .letter p {
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  color: #dfdfdf;
  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 18px;
  margin-top: 17px;
}
footer .footer-block .letter input {
  width: 205px;
  height: 30px;
  background-color: #ffffff;
  color: #009c9a;
  font-family: "Helvetica Neue";
  font-size: 13px;
  box-sizing: border-box;
  padding-left: 16px;
  margin-top: 15px;
}
footer .footer-block .letter input:last-child {
  margin-top: 10px;
}
footer .footer-block .letter a {
  width: 82px;
  height: 25px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  border-radius: 10px 9px 9px 10px;
  background-color: #f7f4f4;
  background-image: linear-gradient(to top, #e5a61f 0%, #fbb829 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3);
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-left: 122px;
  margin-top: 10px;
}
footer .footer-block .account {
  width: 158px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 43px;
}
footer .footer-block .shipping {
  width: 153px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 43px;
  border-right: 1px solid #009c9a;
  border-left: 1px solid #009c9a;
  margin-bottom: 45px;
}
footer .footer-block .links {
  width: 144px;
  padding-left: 30px;
  box-sizing: border-box;
  border-right: 1px solid #009c9a;
  margin-top: 43px;
}
footer .footer-block .follow {
  width: 255px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 43px;
}
footer .footer-block .follow a {
  display: inline-block;
}
footer .footer-block .follow a img {
  width: 34px;
  height: 34px;
}
footer .copyright {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  font-family: "Helvetica Neue";
  font-size: 11px;
  line-height: 18px;
  color: #dfdfdf;
  margin-top: 20px;
}
